---
layout: default
---

<div class="home">

<div class="preview-block">
<a href="https://humaniterations.net/2016/05/16/the-orthogonality-thesis-ontological-crises/"><h2> The Orthogonality Thesis &amp; Ontological Crises</h2></a>
<p>In talking about AI over the last few years Nick Bostrom and Stuart Armstrong&nbsp;have very successfully popularized a more formal and nerdy re-statement of the Humean claim that values and rationality are orthogonal. I generally like to refer to their Orthogonality Thesis&nbsp;as the most rigorous reformulation and baseline argument for the value-nihilist claim: Thinking&nbsp;about things […]</p>
</div>

<a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">rss</a>


  <div class="category-list">

   {% for category in site.categories %}
        <h2 class="home-cats">{{ category | first }}</h2>
    {% for posts in category %}
        <ul>
        {% for post in posts %}
                {% if post.hidden.first != 1 %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    
  {% endfor %}
 
  </div>  
    
</div>
