/*@import url("/fonts/stylesheet.css");
@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.eot');
    src: url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff'),
         url('bebasneue-webfont.ttf') format('truetype'),
         url('bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background-color: #4E4D52;
}

a {
  text-decoration: none;
  color: #325E6E;
}

::selection, ::-moz-selection {
  color: #fff;
  background: #325E6E;
}

h1, h2, h3, h4 {
  font-family: bebas_neueregular, "bebas_neueregular";
}

h1 a, h2 a, h3 a, h4 a {
  color: #000;
}

h1 {
  font-size: 34px;
  line-height: 34px;
}

h2 {
  font-size: 30px;
}

.clear {
  clear: both;
}

.background {
  background-image: url('../img/bubble2.jpg');
  background-position-y: -510px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.header {
  height: 20px;
  font-family: bebas_neueregular, "bebas_neueregular";
}

.aligncenter {
  margin: auto;
  text-align: center;
}

.site-title {
  font-size: 38px;
}

.top-sidebar {
  font-size: 22px;
}

@media (min-width: 1280px) {
  .top-sidebar {
    position: fixed;
    right: 0px;
  }

  .site-title {
    position: fixed;
    left: 0px;
  }
}

.site-title {
  color: #fff;
  padding: 30px;
  float: left;
}

.top-sidebar {
  float: right;
  padding: 30px 10px;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  margin: 20px;

  :first-child {
    border-right: solid 2px white;
  }
  a {
    color: #fff;
    padding:0px 20px;
  }
  
}

.main {
  width: 650px;
  margin: auto;
  padding: 40px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.97);
  line-height: 27px;
  font-size: 18px;

  h1.title {
    margin-bottom: 40px;
  }

  .category-list {
    padding-top:20px;
    a {
      color: #000;
      font-size: 19px;
      font-weight: bold;
    }

    ul {
      margin: 0px;
      padding: 0px;

      li {
        list-style-type: none;
        margin: 0px 0px 10px 20px;
      }
    }
  }
}

.category-list h2 {
  background-color: #325E6E;
  padding: 10px 10px 10px 30px;
  margin-left: -40px;
  color: white;
}

.preview-block {
  border: 1px dashed #000;
  padding: 20px;
  margin: 10px 10px 15px 10px;

  h3 {
    margin: 0px;
  }
}

a.rss {
  display: block;
  float: right;
}

h2.home-cats {
  margin-top: 40px;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.wp-caption-text {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #555;
}
